body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Gør body til fuld viewport højde */
  background-color: #f0f0f0;
  /* Lys grå baggrund for kontrast */
}

/* Container styling */
#app {
  position: relative;
  display: flex;
  flex-direction: column; /* Organiserer indholdet vertikalt */
  justify-content: space-between; /* Spreder indholdet, så der er maksimalt mellemrum mellem indhold og knapper */
  width: 100%;
  max-width: 800px; /* Maksimal bredde på containeren */
  height: 100vh; /* Sørg for at containeren fylder hele viewporten */
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  background-color: white; /* Hvid baggrund for læsbarhed */
  border-radius: 8px; /* Runde hjørner for et moderne look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Blød skygge for dybde */
}


.timer-bar {
  position: absolute;
  height: 50px; /* Højden af loadbaren */
  background-color: #ff0000; /* Rød farve for synlighed */
  width: 100%; /* Start bredde */
  margin-bottom: 0;
  transition: width 1s linear; /* Glat transition for ændring af bredden */
}

.language-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.question-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em; /* Øg skrifttypestørrelsen for h2 */
  font-weight: bold; /* Gør teksten fed */
}

.question-text {
  font-size: 1.5em; /* Øg skrifttypestørrelsen for h3 */
  font-weight: bold; /* Gør teksten fed */
}

.countdown {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 2.0em;
  color: #333;
  font-weight: bold;
}

.question-container h3 {
  font-size: 1.5em; /* Øg skrifttypestørrelsen for h3 */
}


.content {
  flex: 1;
  /* Giver indholdsdel plads til at udvide */
  overflow: auto;
  /* Sørger for scrolling hvis indholdet overstiger containerens højde */
}

.bar-container {
  width: 100%;
  height: 300px; /* Definér en fast højde for containeren */
  display: flex;
  flex-direction: row; /* Sørg for søjlerne er arrangeret horisontalt */
  align-items: flex-end; /* Align bjælkerne i bunden af containeren */
  background-color: #f8f9fa;
  padding: 10px 0; /* Tilføj lidt padding for at undgå, at søjlerne rører kanten */
}

.bar {
  flex: 1; /* Giver hver bjælke mulighed for at udvide sig og fylde tilgængelig plads */
  margin: 0 2%; /* Lille mellemrum mellem bjælkerne */
  background-color: #007bff;
  color: white;
  display: flex; /* Gør det muligt at anvende flexbox layout */
  justify-content: center; /* Centrer tekst horisontalt (flexbox) */
  align-items: flex-end; /* Placerer tekst i bunden af bjælken */
  transition: height 0.3s ease; /* Glat overgang for højdeændringer */
}

.bar span {
  margin-bottom: 5px;
}

.bar-0 {
  background-color: #007bff;
}

.bar-1 {
  background-color: #28a745;
}

.bar-2 {
  background-color: #dc3545;
}

.submit-buttons {
  position: fixed !important; /* Gør knapperne faste på skærmen */
  bottom: 0 !important; /* Placerer knapperne i bunden */
  left: 0;
  width: 100% !important; /* Gør knapperne så brede som skærmen */
  display: flex !important; /* Gør det muligt at anvende flexbox layout */
  justify-content: space-around !important; /* Centrerer knapperne horisontalt */
  padding: 0; /* Fjern padding for at placere dem helt i bunden */
  margin: 0; /* Fjern margin for at placere dem helt i bunden */
  box-sizing: border-box; /* Sørg for padding og border er inkluderet i bredden */
  background-color: #f0f0f0; /* Baggrundsfarve hvis ønsket */
}

.submit-buttons button {
  width: 160px; /* Øget bredde på knapperne */
  height: 80px; /* Halvdelen af bredden for at skabe en halvcirkel */
  border-radius: 100px 100px 0 0; /* Gør toppen af knappen rund */
  background: linear-gradient(145deg, #007BFF, #0056b3); /* Tilføj en gradient */
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Forbedret skygge for en 3D-effekt */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Tilføj transition for glat animation */
  cursor: pointer;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.0em; /* Større skrift for bedre læsbarhed */
}


.submit-buttons button:hover {
  background: linear-gradient(145deg, #0056b3, #003f7f); /* Mørkere gradient ved hover */
}

.submit-buttons button:active {
  background: linear-gradient(145deg, #003f7f, #0056b3); /* Ændret gradient ved klik */
}

.button-container {
  text-align: center;
  /* Centrerer knapperne horisontalt */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007BFF;
  /* Blå baggrund */
  color: white;
  /* Hvid tekst */
  border: none;
  /* Ingen kant */
  border-radius: 5px;
  /* Runde hjørner */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Let skygge */
  transition: background-color 0.3s ease;
  /* Blød overgang for baggrundsfarve */
}

button:hover {
  background-color: #0056b3;
  /* Mørkere blå ved hover */
}

@media (max-width: 800px) {
  .timer-bar {
    height: 15px; /* Muligvis gøre loadbaren tyndere på små skærme */

  }


}