body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Gør body til fuld viewport højde */
  background-image: url("/images/background.png");
}

body, button, input, textarea {
  font-family: 'Roboto', sans-serif; /* Grundlæggende skrifttype for hele siden */
  font-size: 16px; /* Standard tekststørrelse */
  color: #333; /* En mørkere grå for bedre læsbarhed */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; /* Skrifttype for overskrifter */
  font-weight: 700; /* Gør overskrifterne federe */
}

/* Container styling */
#app {
  position: relative;
  display: flex;
  flex-direction: column; /* Organiserer indholdet vertikalt */
  justify-content: space-between; /* Spreder indholdet, så der er maksimalt mellemrum mellem indhold og knapper */
  width: 100%;
  max-width: 800px; /* Maksimal bredde på containeren */
  height: 100vh; /* Sørg for at containeren fylder hele viewporten */
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px; /* Runde hjørner for et moderne look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Blød skygge for dybde */
}

#app>* {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}


.timer-bar {
  position: absolute;
  height: 20px; /* Højden af loadbaren */
  background-color: #003f7feb; 
  width: 100%; /* Start bredde */
  margin-bottom: 0;
  transition: width 1s linear; /* Glat transition for ændring af bredden */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Tilføj skygge */
}

.progress-indicator {
  position: absolute !important; /* Gør indikatoren fast på skærmen */
  top: 35px !important; /* Juster afstanden fra toppen */
  left: 20px !important; /* Juster afstanden fra venstre */
  width: 200px !important; /* Start bredde */
  font-size: 2.0em; /* Skriftstørrelse */
  color: #333; /* Farve på tekst */
  font-weight: bold; /* Fed skrift */ 
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.start-title {
  font-size: 2.8em;
  color: #333;
  margin-bottom: 20px;
}

.flag-icon {
  width: 25px; /* Juster størrelsen efter behov */
  height: auto;
  vertical-align: middle;/* Sikrer at flagene er centralt justeret med teksten */
  margin-right: 5px; /* Tilføjer lidt margin til højre for flaget */
  margin-left: 5px; /* Tilføjer lidt margin til venstre for flaget */
}

.flag-button {
  width: 70px;
  height: 50px;
  vertical-align: middle;
}

.language-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.question-title, .statistic-title{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em; /* Øg skriftstørrelsen */
  font-weight: 700; /* Gør teksten fed */
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.language-title {
  left: 50%;
  font-size: 3.5em; /* Øg skriftstørrelsen */
  font-weight: 700; /* Gør teksten fed */
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.language-text {
  font-size: 1.5em; /* Øg skrifttypestørrelsen for h3 */
  font-weight: bold; /* Gør teksten fed */
  text-shadow: #333;
  position: absolute;
  transform: translateY(-50%);
  top: 57%;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.start-text {
  font-size: 1.2em; /* Øg skrifttypestørrelsen for h3 */
  font-weight: bold; /* Gør teksten fed */
  text-shadow: #333;
  position: absolute;
  transform: translateY(-50%);
  top: 57%;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.question-text {
  font-size: 1.5em; /* Øg skrifttypestørrelsen for h3 */
  font-weight: bold; /* Gør teksten fed */
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.countdown {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 2.0em;
  color: #333;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.question-container h3 {
  font-size: 1.5em; /* Øg skrifttypestørrelsen for h3 */
}


.content {
  flex: 1;
  /* Giver indholdsdel plads til at udvide */
  overflow: auto;
  /* Sørger for scrolling hvis indholdet overstiger containerens højde */
}

.bar-container {
  width: 100%;
  height: 300px; /* Definér en fast højde for containeren */
  display: flex;
  flex-direction: row; /* Sørg for søjlerne er arrangeret horisontalt */
  align-items: flex-end; /* Align bjælkerne i bunden af containeren */
  padding: 10px 0; /* Tilføj lidt padding for at undgå, at søjlerne rører kanten */
  border-radius: 20px; /* Runde hjørner i toppen */
}

.bar {
  flex: 1; /* Giver hver bjælke mulighed for at udvide sig og fylde tilgængelig plads */
  margin: 0 1%; /* Lille mellemrum mellem bjælkerne */
  background-color: #007bff;
  color: white;
  display: flex; /* Gør det muligt at anvende flexbox layout */
  justify-content: center; /* Centrer tekst horisontalt (flexbox) */
  align-items: flex-end; /* Placerer tekst i bunden af bjælken */
  transition: height 0.3s ease; /* Glat overgang for højdeændringer */
  font-family: 'Lato', sans-serif; /* Skrifttype for tekst */
  font-size: 1.3em; /* Skriftstørrelse */
  font-weight: bold; /* Fed skrift */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bar span {
  margin-bottom: 10px;
}

.bar-0 {
  background-color: #ff00f2;
  border-radius: 8px; /* Runde hjørner i toppen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Tilføj skygge */
}

.bar-1 {
  background-color: #4d93de;
  border-radius: 8px; /* Runde hjørner i toppen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Tilføj skygge */
}

.bar-2 {
  background-color: #e28e28;
  border-radius: 8px; /* Runde hjørner i toppen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Tilføj skygge */
}

.submit-buttons {
  position: fixed !important; /* Gør knapperne faste på skærmen */
  bottom: 0 !important; /* Placerer knapperne i bunden */
  left: 0;
  width: 100% !important; /* Gør knapperne så brede som skærmen */
  display: flex !important; /* Gør det muligt at anvende flexbox layout */
  justify-content: space-around !important; /* Centrerer knapperne horisontalt */
  padding: 0; /* Fjern padding for at placere dem helt i bunden */
  margin: 0; /* Fjern margin for at placere dem helt i bunden */
  box-sizing: border-box; /* Sørg for padding og border er inkluderet i bredden */
  
}

.submit-buttons button {
  width: 160px; /* Øget bredde på knapperne */
  height: 80px; /* Halvdelen af bredden for at skabe en halvcirkel */
  border-radius: 100px 100px 0 0; /* Gør toppen af knappen rund */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Forbedret skygge for en 3D-effekt */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; /* Blødere overgange for interaktive effekter */
  cursor: pointer;
  margin-bottom: 0;
  padding-top: 30px;
  font-size: 1.3em; /* Større skrift for bedre læsbarhed */
}

.submit-buttons button:active {
  background: linear-gradient(145deg, #003f7f, #0056b3); /* Ændret gradient ved klik */
}

.button-container {
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: rgba(14, 0, 96, 0.698);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); /* Blå baggrund */
  color: white; /* Hvid tekst */
  border-radius: 5px; /* Runde hjørner */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Let skygge */
  transition: background-color 0.3s ease; /* Blød overgang for baggrundsfarve */
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.thank-you-title {
  font-size: 3em;
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .timer-bar {
    height: 15px;

  }


}