<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bruger Panel</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/CSS/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div id="app">

    <!-- Progress indicator -->
    <div class="progress-indicator" v-if="viewState === 'question'">
      {{ questionCount }} / 10
    </div>

    <!-- Timer Loadbar -->
    <div class="timer-bar" v-if="selectedLanguage !== null && viewState === 'question'"
      :style="{ width: timerWidth + '%' }">
    </div>
    

    <!-- Start View -->
    <transition name="fade" mode="out-in">
      <div v-if="viewState === 'start'" key="start-view" class="start-container">
        <h2 class="start-title">Velkommen til Brugerundersøgelse!</h2>
        <h3 class="start-text">
          <img src="/images/uk.png" alt="UK Flag" class="flag-icon" />
          User Survey! /
          <img src="/images/france.png" alt="France Flag" class="flag-icon" />
          Enquête auprès des utilisateurs
        </h3>

        <div class="submit-buttons button-container">
          <button id="startKnap" @click="startSurvey()">Start!</button>
        </div>
      </div>
    </transition>

    <!-- Language Selection view -->
    <transition name="fade" mode="out-in">
    <div v-if="viewState === 'languageSelection'" key="language-selection" class="language-selection">
      <h2 class="language-title">Vælg sprog</h2>
      <h3 class="language-text">Choose language / Choisir la langue</h3>
      <div class="submit-buttons button-container">
        <button id="SelectLanguage" v-for="(language, index) in languageOptions" :key="index" @click="setLanguage(index)">
          <img :src="language.flag" :alt="language.name + ' flag'" class="flag-button">
        </button>
      </div>
    </div>
    </transition>

    <!-- Questions View -->
    <transition name="fade" mode="out-in">
    <div v-if="selectedLanguage !== null && currentQuestion && viewState ==='question'" key="questions-view" class="question-container">
      <h2 class="question-title">{{ translatedTexts.questionTitle }}</h2>
      <h3 class="question-text">{{ currentQuestion.questionText }}</h3>
      <p class="countdown"> {{ remainingTime }} </p>
      <div class="submit-buttons button-container">
        <button @click="submitAnswer(1)">{{ currentQuestion.option1 }}</button>
        <button @click="submitAnswer(2)">{{ currentQuestion.option2 }}</button>
        <button @click="submitAnswer(3)">{{ currentQuestion.option3 }}</button>
      </div>
    </div>
    </transition>

    <!-- Statistics View -->
    <transition name="fade" mode="out-in">
    <div v-if="selectedLanguage !== null && viewState === 'statistics'" key="statistics-view">
      <h2 class="statistic-title">{{ translatedTexts.statsTitle }}</h2>
      <div class="bar-container">
        <div class="bar" v-bind:class="'bar-' + index"
          v-for="(option, index) in [currentQuestion.option1, currentQuestion.option2, currentQuestion.option3]" :key="index"
          :style="{ height: getPercentage(index + 1) + '%' }">
          {{ option }}: {{ getPercentage(index + 1) }}%
        </div>
      </div>
      <h3 class="question-text">{{ currentQuestion.questionText }}</h3>
      <div class="submit-buttons button-container">
        <button @click="loadNextQuestion()">{{ translatedTexts.nextButton }}</button>
      </div>
    </div>
    </transition>

    <!-- Thank you View -->
    <transition name="fade" mode="out-in">
      <div v-if="viewState === 'thankYou'" key="thank-you-view" class="thank-you-container">
        <h2 class="thank-you-title">{{translatedTexts.thankYouTitle}}</h2>
        <div class="submit-buttons button-container">
          <button @click="restart()">{{ translatedTexts.restartButton}}</button>
        </div>
      </div>
    </transition>

  </div>
  <script src="/Javascript/index.js"></script>
</body>

</html>