<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bruger Panel</title>
  <link rel="stylesheet" href="/CSS/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <div id="app">
        <!-- Language Selection -->
        <div v-if="selectedLanguage === null">
            <h2>Vælg sprog</h2>
            <button v-for="(language, index) in languageOptions" :key="index" @click="setLanguage(index)">
              {{ language }}
            </button>
          </div>
    
        <!-- Questions View -->
        <div v-if="selectedLanguage !== null && currentQuestion && viewState ==='question'">
          <h2>Spørgsmål</h2>
          <h3>{{ currentQuestion.questionText }}</h3>
          <p>Tid tilbage: {{ remainingTime }} sekunder</p>
          <button @click="submitAnswer(1)">{{ currentQuestion.option1 }}</button>
          <button @click="submitAnswer(2)">{{ currentQuestion.option2 }}</button>
          <button @click="submitAnswer(3)">{{ currentQuestion.option3 }}</button>
        </div>

        <!-- Statistics View -->
        <div v-if="selectedLanguage !== null && viewState === 'statistics'">
          <h2>Statistik for spørgsmål</h2>
          <div class="bar-container">
            <div class="bar" v-for="(option, index) in [currentQuestion.option1, currentQuestion.option2, currentQuestion.option3]" :key="index" :style="{ width: getPercentage(index + 1) + '%' }">
              {{ option }}: {{ getPercentage(index + 1) }}%
            </div>
        </div>
        <button @click="loadNextQuestion()">Næste spørgsmål</button>
      </div>

      </div>
  <script src="/Javascript/index.js"></script>
</body>
</html>
