<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bruger Panel</title>
  <link rel="stylesheet" href="/CSS/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- Language Selection -->
        <div v-if="selectedLanguage === null">
            <h2>Vælg sprog</h2>
            <button v-for="(language, index) in languageOptions" :key="index" @click="setLanguage(index)">
              {{ language }}
            </button>
          </div>
    
        <!-- Questions List -->
        <div v-if="selectedLanguage !== null && currentQuestion">
          <h2>Spørgsmål</h2>
          <h3>{{ currentQuestion.questionText }}</h3>
          <button @click="submitAnswer(1)">{{ currentQuestion.option1 }}</button>
          <button @click="submitAnswer(2)">{{ currentQuestion.option2 }}</button>
          <button @click="submitAnswer(3)">{{ currentQuestion.option3 }}</button>
        </div>

        <!-- Selected Question Section -->
        <!-- <div v-else-if="!answered && selectedQuestion">
          <h2>{{ selectedQuestion.QuestionText }}</h2>
          <button @click="submitAnswer(1)">{{ selectedQuestion.Option1 }}</button>
          <button @click="submitAnswer(2)">{{ selectedQuestion.Option2 }}</button>
          <button @click="submitAnswer(3)">{{ selectedQuestion.Option3 }}</button>
        </div> -->
    
        <!-- Statistics Section -->
        <!-- <div v-else-if="answered"> -->
            <!-- <h2>Tak for svar!</h2> -->
          <!-- Statistikkerne vises som før -->
        <!-- </div> -->
      </div>
  <script src="/Javascript/index.js"></script>
</body>
</html>
